header{
    background: #000;
    padding: 10px 0;
}
header h1{
    color: #fff;
    text-align: center;
    margin: 0;
}
section{
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
article{
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
}
article h2{
    margin: 0;
    text-transform: uppercase;
}

@media (max-width:640px) and (min-width:360px) and (orientation: portrait){
    section{
        flex-wrap: wrap;
    }
}