p::first-letter{
    font-size: 30px;
}
/*Irá deixar a primeira letra do paragrafo em maiuscula*/

p::first-line{
    text-decoration: underline;
}

p::before{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: black;
}
/*Adiciona novos itens na página, no caso antes do conteúdo, fazendo isso irá desativar o first-line, pois esse novo elemento que será o first-line*/

p::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: rgb(173, 24, 24);
}

