div{
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: black;
}

div[id="teste1"]:hover{
    
    transform: scale(1.3);
}
div[id="teste2"]:hover{
    transform: skew(0, 45deg);
}
div[id="teste3"]:hover{
    transform: translate(100px, 100px);
}
div[id="teste4"]:hover{
    transform: rotate(45deg) scale(1.4);
}