p{
    text-align: justify;
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 50px;  /*identação*/
    /*letter-spacing: 10px;         adiciona espaçamento entre os caracteres*/
    word-spacing: 10px;         /*adiciona espaçamento entre as palavras*/
}