a{
    color: tomato;
}
/*Geral*/

a[title="Google"]{
    color: blue;
}
/*Quando um valor possui atributo específico*/

a[class~="btn-contact"]{
    color: #020202;
}
/*Quando o valor está dentro de uma lista de seleção com atributos separados por espaço*/

a[class|="btn"]{
    background: #CCCCCC;
}
/*Quando o valor começar com btn*/

a[href^="https"]{
    color: green;
}
/*Aqui irá buscar todo href que começar com https*/

a[href$=".html"]{
    border: 1px solid #020202;
}
/*Quando o ultimo valor for igual .html*/

a[href*="davidchc"]{
    background-color: #CCCCCC;
}
/*Pega todos href que tiver davidchc*/